body{
  margin: 0;
  padding: 0;
  font-family: Hevetica;
  font-weight: bold;
  color: white;
  background-image: url('sb.jpg');
  background-size: cover;
}
.textbox{
  overflow: hidden;
  font-size:16px;
  color: #ffffff;
  align-items: flex-start;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: transparent;
}
#box {
  width: 560px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  border: 2px solid #000;
  box-sizing: border-box;
  border-color: #ffffff;
  border-radius:80px 0px 80px 0px;
  border-width: 5px;
}
#div1{
  left: -40%;
  position: relative;
  width: 10px;
  height: 10px;
}
#div2{
 left: -40%;
  position: relative;
  width: 10px;
  height: 10px;
}
#div3{
  left: -40%;
  position: relative;
  width: 10px;
  height: 10px;
}
#div4{
 left: -40%;
  position: relative;
  width: 10px;
  height: 10px;
}
#div5{
  left: -40%;
  position: relative;
  width: 10px;
  height: 10px;
}
#div6{
  top: -242px;
  left: 6%;
  position: relative;
  width: 10px;
  height: 10px;
}
#div7{
  top: -242px;
  left: 6%;
  position: relative;
  width: 10px;
  height: 10px;
}
#div8{
  top: -242px;
  left: 6%;
  position: relative;
  width: 10px;
  height: 10px;
}
#div10{
  top: -238px;
  left: 6%;
  position: relative;
  width: 10px;
  height: 10px;
}
#div11{
  top: -190px;
  left: 4%;
  position: relative;
  width: 10px;
  height: 10px;
}
.botao{
   font-weight: bold;
  border: none;
  transition: 0.1s;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: #fe0cce;
  color: #ffffff;
  font-size: 13px;
  font-family: hevetica;
  cursor: pointer;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 65px;
  padding-right: 65px;
  border-radius: 20px;
}
.slct{
  font-weight: bold;
  border-radius: 20px;
  border: none;
  transition: 0.1s;
  letter-spacing: 0px;
  text-transform: uppercase;
  background: #fe0cce;
  color: white;
  font-size: 12px;
  font-family: hevetica;
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}
.h22{
  font-family: Script MT;
  font-size: 40px;
}